<section class="flex items-center justify-between max-w-screen-xl px-4 mx-auto overflow-x-auto">
  <nav>
    <ul class="flex">
      {%- for link in linklists['main-menu'].links -%}
        {%- liquid
          if forloop.first
            assign extra_styling = 'bg-gray-medium hover:text-white hover:bg-blue-medium group/first-link'
            assign first_arrow_styling = 'group-hover/first-link:fill-white'
          else
            assign extra_styling = ''
          endif
        -%}

        <li class="group/main-nav">
          <a
            href="{{ link.url }}"
            class="flex text-xl items-center gap-2 py-5 font-ropa-regular whitespace-nowrap px-7 {{ extra_styling }}"
          >
            {{ link.title }}
            <span class="rotate-90 group-hover/main-nav:-rotate-90 group-hover/first-link:-rotate-90">
              {%- render 'icon-arrow-right', color: first_arrow_styling -%}
            </span>
          </a>

          {% # === Displaying sub navigation on hover === %}
          {%- if forloop.first -%}
            {%- render 'component-navigation-first-link-sub-nav' -%}
          {%- else -%}
            {%- if link.links -%}
              {%- render 'component-navigation-sub-nav', link: link -%}
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>

  <nav>
    <ul class="flex px-4 mx-auto">
      {%- for link in linklists['secundaire-menu-desktop'].links -%}
        <li class="group/main-nav">
          <a href="{{ link.url }}" class="flex font-light whitespace-nowrap items-center gap-2 font-hind-light py-5 px-7 {{ extra_styling }}">
            {{ link.title }}
            <span class="rotate-90 group-hover/main-nav:-rotate-90 group-hover/first-link:-rotate-90">
              {%- render 'icon-arrow-right', color: first_arrow_styling -%}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</section>
